.tabs-container{
    width: 30%;
    height: inherit;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.tabs-container::-webkit-scrollbar{
    display: none;  /* Safari and Chrome */

}
.tabs-container h1 p{
    padding-top: 20px;

}